@model Website.Models.ViewModels.CommentViewModel
@{
    ViewBag.Title = "Editar Comentário";
}

<section>
    <div class="container">
        <div class="row">
            <h2>Editar Comentário <button type="button" class="btn btn-default">@Html.ActionLink("Voltar para lista", "Index")</button></h2>

            @using (Html.BeginForm("Update", "Comment"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ReturnUrl)
                    @Html.HiddenFor(model => model.IdComment)
                    @Html.HiddenFor(model => model.IdPost)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Atualizar" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
