@model Website.Models.ViewModels.CommentViewModel
@if (Session["token"] != null)
{
    using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-comment", role = "form" }))
    {
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ReturnUrl)
            @Html.HiddenFor(model => model.IdComment)
            @Html.HiddenFor(model => model.IdPost)
            <strong> Deixe seu comentário abaixo </strong>
            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.IdPost)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Comentar" class="btn btn-default" />
                </div>
            </div>
        </div>

        <div id="feedback"></div>
    }
    <script type="text/javascript">
    $("#form-comment").on("submit", function (event) {
        event.preventDefault();
        var content = $(this).find("#Content");
        var data = {
            content: content.val(),
            IdPost: $(this).find("#IdPost").val()
        };
        $.ajax({
            type: 'POST',
            url: '/comments',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (msg) {
                if (msg.success) {
                    $("#feedback").removeClass().addClass("success").html("Seu comentário foi cadastrado");
                    var listComment = $("#list-comments ul");
                    var html = null;
                    if (listComment.find(".comment").length == 0) {
                        html = "<h4>Comentários</h4><li class='comment'><span>Usuário - {UserINFO}</span><h5>" + content.val() + "</h5><hr /></li>";
                        $("#list-comments ul").html(html)
                    } else {
                        html = "<li class='comment'><span>Usuário - {UserINFO}</span><h5>" + content.val() + "</h5><hr /></li>";
                        $("#list-comments ul").append(html)
                    }
                    content.val("");
                } else {
                    $("#feedback").removeClass().addClass("error").html("Não foi possível cadastrar seu comentário.")
                }
            }
        });
    });
    </script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
else
{
    <strong>Você precisa se logar para comentar</strong>
}