@model Website.Models.ViewModels.DeviceListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Alarme
        </th>
        <th>
            Apelido
        </th>
        <th>
            Cor
        </th>
        <th>
            Frequência de atualização
        </th>
        <th>
            Id User
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Devices)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDevice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alarm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrequencyUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { idDevice = item.IdDevice, idUser = item.IdUser }) |
                @Html.ActionLink("Details", "Show", new { idDevice = item.IdDevice, idUser = item.IdUser }) |
                @using (Html.BeginForm("Delete", "Device", new { idDevice = item.IdDevice }, FormMethod.Post, new { id = "deleteDeviceForm-" + item.IdDevice }))
                {
                    <a href="javascript:document.getElementById('deleteDeviceForm-@item.IdDevice').submit()">Deletar Device</a>
                }
                @using (Html.BeginForm("TurnAlarm", "Device", new { alarm = item.Alarm, idDevice = item.IdDevice, idUser = item.IdUser }, FormMethod.Post, new { id = "turnDeviceForm-" + item.IdDevice }))
                {
                    <a href="javascript:document.getElementById('turnDeviceForm-@item.IdDevice').submit()"> Device</a>
                }
            </td>
        </tr>
    }
<ul>
    @if (Model.Pagination.PreviousPage)
        {
        <li>@Html.ActionLink("Página Anterior", "Index", "Device", new { page = Model.Pagination.CurrentPage - 1 }, new { @class = "" })</li>
    }
    @for (var count = 1; count <= Model.Pagination.TotalNumberPages; count++)
        {
        <li>
            @if (count == Model.Pagination.CurrentPage)
            {
                <strong>Página @count</strong>
            }
            else
            {
                @Html.ActionLink("Página " + count, "Index", "Device", new { page = count }, new { @class = "" });
            }
        </li>
    }
    @if (Model.Pagination.NextPage)
        {
        <li>@Html.ActionLink("Próxima Página", "Index", "Device", new { page = Model.Pagination.CurrentPage + 1 }, new { @class = "" })</li>
    }
</ul>


</table>
