@model Website.Models.ViewModels.DeviceViewModel
@{
    ViewBag.Title = "Show";
}

<section>
    <div class="container">
        <div class="row">
            <h3>
                Detalhes do Device #@Model.IdDevice 
                <button type="button" class="btn btn-default">
                    @Html.ActionLink("Voltar para Lista", "Index")
                </button>
                <button type="button" class="btn btn-default">
                    @Html.ActionLink("Editar", "Edit", new { idUser = Model.IdUser, idDevice = Model.IdDevice })
                </button>
            </h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.IdDevice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IdDevice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Alias)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Alias)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Color)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FrequencyUpdate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FrequencyUpdate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IdUser)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IdUser)
                </dd>
            </dl>
            @using (Html.BeginForm("Delete", "Device", new { idUser = Model.IdUser, idDevice = Model.IdDevice }, FormMethod.Post))
            {
                <button type="submit" class="btn btn-danger">Deletar</button>
            }
        </div>
    </div>
</section>