@model Website.Models.ViewModels.DeviceViewModel
@{
    ViewBag.Title = "Editar Device";
}
<section>
    <div class="container">
        <div class="row">
            <h3>
                Detalhes do Device #@Model.IdDevice 
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-default">
                        @Html.ActionLink("Voltar para Lista", "Index")
                    </button>
                    @Html.ActionLink("Editar", "Edit", new { idUser = Model.IdUser, idDevice = Model.IdDevice }, new { @class = "btn btn-primary" })
                    <a href="javascript:document.getElementById('deleteForm').submit()" class="btn btn-danger">Apagar</a>
                    @using (Html.BeginForm("Delete", "Device", new { idUser = Model.IdUser, idDevice = Model.IdDevice }, FormMethod.Post, new { id = "deleteForm" })) { }
                </div>
            </h3>
            <dl class="dl-horizontal">
                <dt>
                    Apelido
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Alias)
                </dd>

                <dt>
                    Cor
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>

                <dt>
                    Frêquencia de atualização
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FrequencyUpdate)
                </dd>

                <dt>
                    Usuário
                </dt>

                <dd>
                    @Html.ActionLink("Usuário #" + Model.IdUser, "Show", "User", new { idUser = Model.IdUser })
                </dd>
            </dl>
        </div>
    </div>
</section>