@model Website.Models.ViewModels.UserListViewModel
<section>
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Lista de usuários</div>
                <table class="table">
                    <tr>
                        <td>#</td>
                        <td>Nome</td>
                        <td>Email</td>
                        <td>Permissão</td>
                        <td></td>
                    </tr>

                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td>@item.IdUser</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.Permission</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    @Html.ActionLink("Mostar", "Show", new { idUser = item.IdUser }, new { @class = "btn btn-default" })
                                    @Html.ActionLink("Editar", "Edit", new { idUser = item.IdUser }, new { @class = "btn btn-primary" })
                                    <a href="javascript:document.getElementById('deleteForm-@item.IdUser').submit()" class="btn btn-danger">Apagar</a>
                                    @using (Html.BeginForm("Delete", "User", new { idUser = item.IdUser }, FormMethod.Post, new { id = "deleteForm-" + item.IdUser })) { }
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            @{Html.RenderPartial("../Shared/_Pagination", Model.Pagination);}
        </div>
    </div>
</section>