@model Website.Models.ViewModels.UserViewModel

<section>
    <div class="container">
        <div class="row">
            <h3>Detalhes do usuário #@Model.IdUser
                <div class="btn-group btn-group">
                    <button type="button" class="btn btn-default">@Html.ActionLink("Voltar para Lista", "Index")</button>
                    @Html.ActionLink("Editar", "Edit", new { idUser = Model.IdUser }, new { @class = "btn btn-primary" })
                    <a href="javascript:document.getElementById('deleteForm').submit()" class="btn btn-danger">Apagar</a>
                    @using (Html.BeginForm("Delete", "User", new { idUser = Model.IdUser }, FormMethod.Post, new { id = "deleteForm" })) { }
                </div>
            </h3>
            <hr class="light"/>
            <dl class="dl-horizontal">
                <dt>Nome</dt>

                <dd>@Model.Name</dd>

                <dt>Email</dt>

                <dd>@Model.Email</dd>

                <dt>Permissão</dt>

                <dd>@Model.Permission</dd>
            </dl>
        </div>
    </div>
</section>