<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Qoala - Localizador de Pets - Projeto Device - FIAP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse main-menu">
        <div class="container">
            @Html.ActionLink("Qoala", "Index", "Home", new { area = "" }, new { @class = "navbar-brand qoala-logotipo" })
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
                <li>@Html.ActionLink("Sobre o Projeto", "About", "Home")</li>
                <li>@Html.ActionLink("Noticias", "Index", "Blog")</li>
                <li>@Html.ActionLink("Equipe", "Team", "Home")</li>
                <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    @Html.Partial("Logged/_Menu")
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="qoala-footer">
        <p>&copy; @DateTime.Now.Year - Qoala - Localizador de Pets - Projeto Device - FIAP</p>
    </footer>
</body>
</html>
