<section class="menu-logged">
    <div class="container sub-menu">
        <div class="btn-group" role="group">
            @Html.ActionLink("Visualizar Perfil", "Show", "Profile", null, new { @class = "btn btn-default" })
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Device
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Listar Devices", "Index", "Device")</li>
                <li>@Html.ActionLink("Criar Device", "New", "Device")</li>
            </ul>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Informações do site
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Listar informações", "Index", "Information")</li>
                <li>@Html.ActionLink("Adicionar nova informação", "New", "Information")</li>
            </ul>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notícias
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Criar Notícia", "New", "Post")</li>
                <li>@Html.ActionLink("Listar Notícias", "Index", "Post")</li>
            </ul>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Comentários
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Listar Cometários", "Index", "Comment")</li>
            </ul>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usuários
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Listar Usuários", "Index", "User")</li>
            </ul>
        </div>
    </div>
</section>