@using Website.Models.ViewModels
@model BlogViewModel
@{
    ViewBag.Title = "Blog";
}

@{
    if (Model.Posts == null)
    {
        <h3> Nada encontrado </h3>
    }
    else
    {
        foreach (var item in Model.Posts)
        {
            <h1>@Html.ActionLink(@item.Title, "Show", "Post", new { item.IdPost }, new { @class = "" })</h1>
            <div>@item.ContentSummary</div>
            <hr />
        }

        <ul>

            @if (Model.PreviousPage)
            {
                <li>@Html.ActionLink("Página Anterior", "Index", "Blog", new { page = Model.CurrentPage - 1 }, new { @class = "" })</li>
            }
            @for (var count = 1; count <= Model.TotalNumberPages; count++)
            {
                <li>
                    @if (count == Model.CurrentPage)
                    {
                        <strong>Página @count</strong>
                    }
                    else
                    {
                        @Html.ActionLink("Página " + count, "Index", "Blog", new { page = count }, new { @class = "" });
                    }
                </li>
            }
            @if (Model.NextPage)
            {
                <li>@Html.ActionLink("Próxima Página", "Index", "Blog", new { page = Model.CurrentPage + 1 }, new { @class = "" })</li>
            }
        </ul>
    }
}