@using Website.Models.ViewModels
@model BlogViewModel
@{
    ViewBag.Title = "Blog";
}

@{
    if (Model.Posts == null)
    {
        <h3> Nada encontrado </h3>
    }
    else
    {
        foreach (var item in Model.Posts)
        {
            <h1>@Html.ActionLink(@item.Title, "ShowPost", "Blog", new { item.IdPost }, new { @class = "" })</h1>
            <p>Publicado em @item.PublishedAt</p>
            <div>@item.ContentSummary</div>
            <hr />
        }


        <ul>
            @if (Model.Pagination.PreviousPage)
            {
                <li>@Html.ActionLink("Página Anterior", "Index", "Blog", new { page = Model.Pagination.CurrentPage - 1 }, new { @class = "" })</li>
            }
            @for (var count = 1; count <= Model.Pagination.TotalNumberPages; count++)
            {
                <li>
                    @if (count == Model.Pagination.CurrentPage)
                    {
                        <strong>Página @count</strong>
                    }
                    else
                    {
                        @Html.ActionLink("Página " + count, "Index", "Blog", new { page = count }, new { @class = "" });
                    }
                </li>
            }
            @if (Model.Pagination.NextPage)
            {
                <li>@Html.ActionLink("Próxima Página", "Index", "Blog", new { page = Model.Pagination.CurrentPage + 1 }, new { @class = "" })</li>
            }
        </ul>
    }
}