@using Website.Models.ViewModels
@model BlogViewModel
@{
    ViewBag.Title = "Blog";
}

<section class="blog">
    <div class="container">
        <div class="row">
            @{
                if (Model.Posts == null)
                {
                    <h3> Nada encontrado </h3>
                }
                else
                {
                    <h1>Ultimas Notícias</h1>
                    foreach (var item in Model.Posts)
                    {
                        <hr />
                        <h3>@Html.ActionLink(@item.Title, "ShowPost", "Blog", new { item.IdPost }, new { @class = "" })</h3>
                        <p>Publicado em @item.PublishedAt |  @item.UserName</p>
                        <div>@item.Content</div>
                    }
                }
            }
        </div>
        <hr />
        @{ Html.RenderPartial("../Shared/_Pagination", Model.Pagination); }
    </div>
</section>