@using Website.Models.ViewModels
@model PostViewModel
@{
    ViewBag.Title = "Blog";
}

<h1>@Model.Title</h1>
<p>Publicado em @Model.PublishedAt</p>

@if (@Model.Comments.Count > 0)
{
    <p>Quantidade de comentários: @Model.Comments.Count</p>
}
<p>@Html.Raw(Model.Content)</p>

@{ Html.RenderPartial("../Comment/New", new CommentViewModel { IdPost = Model.IdPost }); }
@{ Html.RenderPartial("../Comment/All", Model.Comments); }
