@model Website.Models.ViewModels.PostListViewModel
<section>
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Lista de posts</div>

                <!-- Table -->
                <table class="table">
                    <tr>
                        <td>#</td>
                        <td>Titulo</td>
                        <td>Resumo do conteúdo</td>
                        <td>Publicado</td>
                        <td>Autor</td>
                        <td></td>
                    </tr>
                    @foreach (var post in Model.Posts)
                    {
                        <tr>
                            <td>@post.IdPost</td>
                            <td>@post.Title</td>
                            <td>@post.ContentSummary</td>
                            <td>@(post.PublishedAt.IsEmpty() ? "Não" : "Sim")  </td>
                            <td>@post.UserName</td>
                            <td>
                                <div class="btn-group btn-group-xs" role="group">
                                    @if (post.PublishedAt.IsEmpty())
                                    {
                                        using (Html.BeginForm("Publish", "Post", new { idPost = post.IdPost, returnUrl = "/post?message=O post " + post.IdPost + "foi publicado" }, FormMethod.Post, new { id = "publishPostForm-" + @post.IdPost })) { }
                                        <a href="javascript:document.getElementById('publishPostForm-@post.IdPost').submit()" class="btn btn-success">Publicar Post</a>

                                    }
                                    @Html.ActionLink("Editar Post", "Edit", new { idPost = post.IdPost, returnUrl = "/post"}, new { @class = "btn btn-default" })
                                    <a href="javascript:document.getElementById('deletePostForm-@post.IdPost').submit()" class="btn btn-danger">Deletar Post</a>
                                    @using (Html.BeginForm("Delete", "Post", new { idPost = post.IdPost, returnUrl = "/post?message=O post " + post.IdPost + "foi deletado" }, FormMethod.Post, new { id = "deletePostForm-" + @post.IdPost })) { }
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            @{Html.RenderPartial("../Shared/_Pagination", Model.Pagination);}
        </div>
    </div>
</section>