@model Website.Models.ViewModels.ListViewModel<Website.Models.ViewModels.Sponsor.PlanViewModel>
<section>
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Relatório de Planos de Investimento</div>
                @using (Html.BeginForm())
                {

                    <table class="table">
                        <tr>
                            <td>#</td>
                            <td>@Html.LabelFor(m => m.Filter.Name)</td>
                            <td>@Html.LabelFor(m => m.Filter.Rewards)</td>

                            <td>@Html.LabelFor(m => m.Filter.Left)</td>
                            <td>@Html.LabelFor(m => m.Filter.Price_curr)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>@Html.EditorFor(m => m.Filter.IdPlan)</td>
                            <td>@Html.EditorFor(m => m.Filter.Name)</td>
                            <td>@Html.EditorFor(m => m.Filter.Rewards)</td>

                            <td>@Html.EditorFor(m => m.Filter.Left)</td>
                            <td>@Html.EditorFor(m => m.Filter.Price_curr)</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    @Html.Action("ReportFilter")
                                    <input type="submit" value="Filtar" class="btn btn-primary" />
                                </div>
                            </td>
                        </tr>
                    </table>
                }

                @foreach (var plan in Model.ListModel)
                {
                    <table class="table">
                        <tr>
                            <td>#</td>
                            <td>@Html.LabelFor(m => m.Filter.Name)</td>
                            <td>@Html.LabelFor(m => m.Filter.Rewards)</td>

                            <td>@Html.LabelFor(m => m.Filter.Left)</td>
                            <td>@Html.LabelFor(m => m.Filter.Price_curr)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>@plan.IdPlan</td>
                            <td>@plan.Name</td>
                            <td style="width: 200px">@plan.Rewards</td>

                            <td>@plan.Left</td>
                            <td>@plan.Price_curr</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    @Html.ActionLink("Mostrar", "Show", new { idPlan = plan.IdPlan }, new { @class = "btn btn-default" })
                                    @Html.ActionLink("Editar", "Edit", new { idPlan = plan.IdPlan, returnUrl = "/plan" }, new { @class = "btn btn-primary" })
                                    <a href="javascript:document.getElementById('deletePlanForm-@plan.IdPlan').submit()" class="btn btn-danger">Deletar</a>
                                    @using (Html.BeginForm("Delete", "Plan", new { idPlan = plan.IdPlan, returnUrl = "/plan?message=O plano " + plan.IdPlan + "foi deletado" }, FormMethod.Post, new { id = "deletePlanForm-" + @plan.IdPlan })) { }
                                </div>
                            </td>
                        </tr>
                        }
                    </table>
                }
            </div>
            @{Html.RenderPartial("../Shared/_Pagination", Model.Pagination);}
        </div>
    </div>
</section>