@model Website.Models.ViewModels.Sponsor.PlanViewModel
@{
    ViewBag.Title = "Blog";
}
<section>
    <div class="container">
        <div class="row">
            <h3>
                Detalhes do Plano #@Model.IdPlan 
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-default">@Html.ActionLink("Voltar para Lista", "Index")</button>
                    
                    @Html.ActionLink("Editar", "Edit", new { idPlan = Model.IdPlan, returnUrl = "/plan" }, new { @class = "btn btn-primary" })
                    <a href="javascript:document.getElementById('deletePlanForm-@Model.IdPlan').submit()" class="btn btn-danger">Apagar</a>
                    @using (Html.BeginForm("Delete", "Plan", new { idPlan = Model.IdPlan, returnUrl = "/plan?message=O plano " + Model.IdPlan + "foi deletado" }, FormMethod.Post, new { id = "deletePlanForm-" + @Model.IdPlan })) { }
                </div>
            </h3>

            <hr class="light" />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.IdPlan)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdPlan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Left)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Left)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price_curr)
                </dt>
                <dd>
                    @Html.Raw(Html.DisplayFor(model => model.Price_curr))
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rewards)
                </dt>
                <dd>
                    @Html.Raw(Html.DisplayFor(model => model.Rewards))
                </dd>
            </dl>

        </div>
    </div>
</section>